<div class="flex justify-center item-center gap-20 max-h-min em-gradient font-brand flex-col">
  <h1 class="text-white font-bold text-3xl mt-20 text-center">
    Instantly share your code, notes and snippets
  </h1>
  <GistCloneWeb.Views.GistEdit.gist_form form={@form} form_submit="create" />
</div>
